@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
  margin: 0;
  padding: 0;
}

.container {
  background: #089fe6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: rgba(255, 255, 255, 0.917);
  width: 25%;
  min-width: 550px;
  height: 700px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 7px;
  /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4); */
}

.header h1 {
  color: #089fe6;
  font-weight: 300;
  text-align: center;
  margin: 50px 20px 60px 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.list {
  width: 90%;
  margin: auto;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.task-input {
  width: 450px;
  min-width: 350px;
  padding: 25px 20px 20px 30px;
  margin-right: 10px;
  font-family: 'Josefin Sans', serif;
  font-size: 19px;
  color: #000000;
  background-color: 'white';
  border: 1px solid #444;
  outline: none;
  border-radius: 20px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */
}

.buttons {
  display: flex;
}

.btn {
  margin: 20px;
}

.add-task-btn {
  min-width: 200px;
  background-color: #0a8062;
  color: #ccc;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-radius: 20px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  outline: none;
  cursor: pointer;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 5px;
  font-size: 18px;
}

.list-item span {
  color: rgb(15, 1, 1);
}

.task-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-delete i {
  font-size: 18px;
  color: #ac2412;
  margin-right: 20px;
}

.btn-edit i {
  font-size: 18px;
  color: rgb(119, 110, 7);
  margin-right: 20px;
}

.clear-btn {
  width: 200px;
  height: 35px;
  background-color: #ac2412;
  color: #ccc;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-radius: 20px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  outline: none;
  cursor: pointer;
}

.no-tasks {
  color: #777;
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
  color: red;
  font-family: 'Noto Sans JP', sans-serif;
}
